Repository BF-FrontEnd-class-2024/group2-loruki-rebuild, pull requests merged in 2024-01, with the labels that each got.

#9 add info
  .cspell.json
  planning/communication.md
Labels: md

#10 add constraints
  planning/constraints.md
Labels: md

#11 add users persons
  .cspell.json
  planning/cory.png
  planning/margaret.png
  planning/user-personas.md
Labels: md

#12 add design with the photo
  planning/design-img.png
  planning/design.md
Labels: md

#14 add development-strategy
  .cspell.json
  planning/development-strategy.md
Labels: md

#15 add readme
  .vscode/settings.json
  README.md
  planning/screenshot.jpg
  planning/screenshot.png
Labels: md

#30 add new container 1
  index.html
  styles/index.css
  styles/something.css
  styles/utilities.css
Labels: html, css

#31 add container2 showcase
  index.html
  styles/index.css
Labels: html, css

#32 container3-statistics
  index.html
  styles/index.css
Labels: html, css

#33 add container4-images
  images/cli.png
  images/cloud.png
  images/docs.png
  images/favicon.png
  images/npm.png
  images/server.png
  images/server2.png
  index.html
  styles/index.css
Labels: html, css

#34 add container5 extra info
  index.html
  styles/index.css
Labels: html, css

#36 container7-footer added
  index.html
  styles/index.css
Labels: html

#37 add retrospective
  planning/retrospective.md
  styles/index.css
Labels: md

#43 add second page - features
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
  planning/screenshot2.png
Labels: md

#44 add features file
  features.html
Labels: html

#45 add container2-head
  features.html
  index.html
  styles/style.css
Labels: html, css

#47 add container4-footer features
  features.html
Labels: html

#54 add third page - docs
  planning/Screenshot3.png
  planning/backlog.md
  planning/design.md
  planning/development-strategy.md
Labels: md

#55 add docs file and navbar
  docs.html
Labels: html

#57 add container3 - docs main - docs
  docs.html
Labels: html

#58 add container4-doc
  docs.html
  features.html
  index.html
  styles/style.css
Labels: html, css
